body {
    margin: 0;
    background-color: aliceblue;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 0px;
    display: flex;
    height: 100%;
}
.textoIzquierda {
    flex: 1;
    min-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    background-color: #4d87dd;
    height: 100vh;
    }
    .textoDerecha {
    flex: 2;
    min-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    margin-left: 25px;
    }
html, body {
    height: 100%;
    margin: 0;
    }
header {
    text-align: center;
}

button {
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    border-color: #4d87dd;
    background-color: #4d87dd;
    font-size: 25px;
    margin-top: 25px;
}

.home {
    text-align: center;
}