body{
background-color: rgb(221, 215, 255);
font-family: sans-serif
}

main {
    border: 3px solid rgb(137, 123, 226);
    border-radius: 10px;
    background-color: rgba(155, 100, 255, 0.45);
    box-shadow: 0px 0px 15px rgba(167, 99, 255, 0.6);
    width: 50%;
    margin: 30px auto;
    padding: 25px;
    position: static;
}

h1 {
    text-align: center;
}



fieldset {
    border: 2px solid #692b92;
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(137, 123, 226);
}

legend {
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #692b92;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.01);
}

.botones {
    text-align: center;
}

button {
    background-color:  rgb(137, 123, 226);;
    color: #692b92;
    font-weight: bold;
    border: 2px solid #ffffff;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
}

button:hover {
    background-color: #7f4ae0d7;
    color: #000;
    box-shadow: 0px 0px 15px rgba(82, 39, 235, 0.9);
    border-color: #692b92;
}

textarea {
    resize: none;
}

.home {
    text-align: center;
}