body {
    background-color: rgba(0, 255, 255, 0.104);
    margin: 0;
    font-family: Arial, sans-serif;
    }

h2 {
    text-align: center;
}
header {
    text-align: center;
    color: black;
    }
.contenedor {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px; /* espacio entre los textos */
    }

.texto {
    flex: 1;
    min-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    }
  /* Responsive para pantallas pequeñas */
@media screen and (max-width: 700px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    
    }
}

button {
    border: 1px solid;
    border-radius: 7px;
    border-color: rgba(1, 96, 96, 0.276);
    background-color: rgba(0, 255, 255, 0.104);
}

.botonera {
    text-align: center;
}
